minio
uvicorn
fastapi
sklearn
pandas
pydantic
sniffio
python-dateutil
pytz
scipy
joblib
feature-engine
lightgbm
xgboost
typing
psycopg2
pyyaml
tqdm
visions
matplotlib
seaborn
pandas-profiling
plotly
sweetviz
python-jenkins
aiofiles
pydantic[dotenv]
python-dotenv
SQLAlchemy
passlib
bcrypt
python-jose
python-multipart
imagehash
python-gitlab
